/************************************************
1  BODY
************************************************/

// * {
//     outline: red solid 1px;
// }

body {
    font-family: "Questrial", sans-serif !important;
    background-color: var(--color-page-background) !important;
    color: var(--color-text) !important;
}

img {
    max-width: 100%;
    height: auto;
}
li {
    list-style: none;
}
.line-separation {
    height: 2px;
    background-color: $clr-primary;
    margin: 0 auto;
}
