@charset "UTF-8";
/************************************************************
Table of Contents:

0. FONTS.........vendors
1. BODY..........base
2. MIXIN.........utils
3. COLORS........utils
5. NAVBAR........layout
6. FOOTER........layout
7. BUTTONS.......components

8.  PAGE : HOME....................pages
9.  PAGE : SPECS + USER REVIEWS....pages
10. PAGE :	OPTIONS................pages
11. PAGE :	RESUME.................pages
12. PAGE :	CONTACT................pages

**************************************************************/
/************************************************
2	MIXIN
************************************************/
/************************************************
3. COLORS
************************************************/
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --color-page-background: #fff;
  --color-text: #141414;
  --color-secondary: #f5f5f5;
  --color-shadows: #00000080;
  --darkgrey: #f5f5f5;
  --color-main-titles: #3d3d3d;
  --color-background-menu: #141414b4;
  --color-text-menu: #ecececb4; }

/************************************************
DarkMode
************************************************/
.darkmode {
  --color-page-background: #141414;
  --color-text: #fff;
  --color-secondary: #00000080;
  --color-shadows: #f5f5f5;
  --darkgrey: #000;
  --color-main-titles: #f5f5f5;
  --color-background-menu: #ecececb4;
  --color-text-menu: #141414b4; }

/************************************************
0  FONTS
************************************************/
/************************************************
1  BODY
************************************************/
body {
  font-family: "Questrial", sans-serif !important;
  background-color: var(--color-page-background) !important;
  color: var(--color-text) !important; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none; }

.line-separation {
  height: 2px;
  background-color: #20618d;
  margin: 0 auto; }

.heading .button {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 17px;
  color: #20618d;
  border-radius: 20px;
  transition: 200ms ease; }
.heading .button1 {
  margin-left: 80px;
  border: 2px solid #20618d;
  padding: 8px 15px; }
  .heading .button1:hover {
    opacity: 0.8; }
.heading .button2 {
  margin-left: 30px;
  background: #20618d;
  color: white;
  padding: 8px 15px;
  border: 2px solid #20618d; }
  .heading .button2:hover {
    background: #0067ad; }

/************************************************
1	NAVBAR
************************************************/
#mynavbar {
  background-color: var(--color-background-menu) !important;
  color: var(--color-text-menu) !important; }
  #mynavbar i {
    color: var(--color-text-menu) !important;
    font-size: 30px; }

#navbarYourComputer form button {
  color: var(--color-text-menu); }
  #navbarYourComputer form button:hover {
    color: var(--color-page-background); }

.navbar {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  text-align: center; }
  .navbar .collapse {
    text-align: center; }
  .navbar li a {
    color: var(--color-text-menu) !important;
    margin: auto 10px; }

.nav-link:hover {
  color: var(--color-page-background) !important; }
.nav-link.active {
  color: var(--color-page-background) !important; }

.navbar-toggler:focus {
  outline: none; }

/************************************************
DARKMODE TOGGLE (btn + ico)
************************************************/
.theme-switch-wrapper {
  margin-left: 60px;
  display: flex;
  align-items: center; }
  .theme-switch-wrapper i {
    margin-left: 10px;
    margin-right: 50px;
    font-size: 0.5em; }

.theme-switch {
  margin: auto;
  display: inline-block;
  height: 18px;
  position: relative;
  width: 50px; }

.theme-switch input {
  display: none; }

.slider {
  background-color: var(--color-background-menu);
  bottom: 0px;
  cursor: pointer;
  left: 0px;
  position: absolute;
  right: 0;
  top: 0px;
  transition: 0.4s; }

.slider:before {
  background-color: var(--color-text-menu);
  bottom: 1px;
  content: "";
  height: 16px;
  left: 5px;
  position: absolute;
  transition: 0.4s;
  width: 16px; }

input:checked + .slider {
  background-color: var(--color-background-menu); }

input:checked + .slider:before {
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/************************************************
7.	FOOTER
************************************************/
.mentions-légales {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  color: #949494; }
  .mentions-légales a {
    color: #616161; }
    .mentions-légales a:hover {
      color: #2e2e2e; }

footer .line-separation {
  color: #949494;
  height: 1px;
  width: 80%;
  margin: 10px auto 20px auto; }
footer .fleche {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; }
  footer .fleche i {
    color: var(--color-text);
    font-size: 20px; }

/************************************************
8.	PAGE : HOME
************************************************/
#home {
  flex-direction: column;
  align-items: center;
  display: flex;
  font-family: "Questrial", sans-serif;
  min-height: 100vh;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-page-background); }

.img_text {
  margin: 90px auto 30px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1000px; }

.home-page {
  margin: auto;
  text-align: center; }

.heading {
  min-height: 190px;
  margin: auto;
  text-align: left; }
  .heading h1 {
    color: var(--color-main-titles);
    word-spacing: 15px;
    font-size: 75px; }
  .heading h3 {
    font-size: 20px;
    color: var(--color-main-titles);
    text-align: center;
    margin-bottom: 30px; }

.carousel {
  position: relative; }
  .carousel .carousel-item img {
    max-height: 240px;
    margin: 40px 0;
    animation: drop 1.5s ease; }
  .carousel .carousel-control {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 88%;
    margin: 0 90px; }
  .carousel .carousel-control-prev-icon,
  .carousel .carousel-control-next-icon {
    background-image: none;
    outline: black; }
  .carousel .carousel-control-next-icon:after {
    content: ">";
    font-size: 20px;
    color: var(--color-text); }
  .carousel .carousel-control-prev-icon:after {
    content: "<";
    font-size: 20px;
    color: var(--color-text); }

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transforme: transalteY(0px); } }
/************************************************
9.	PAGE :	SPECS + USER REVIEWS
************************************************/
#specs {
  flex-direction: column;
  align-items: center;
  display: flex;
  font-family: "Questrial", sans-serif;
  min-height: 100vh;
  background-color: var(--darkgrey); }
  #specs h2 {
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-text); }
  #specs .line-separation {
    width: 200px;
    margin-bottom: 80px; }
  #specs .elements {
    width: 90%;
    margin-bottom: 80px; }

.barres {
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; }

.progresses {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
  margin: 5px auto;
  width: 90%; }
  .progresses .progress {
    background-color: white;
    height: 100%;
    margin: 7px;
    border-radius: 50px;
    box-shadow: 1px 1px 3px var(--color-shadows); }
    .progresses .progress h5 {
      font-size: 13px;
      margin: 2px 0px;
      text-shadow: 1px 1px 1px #141414; }

.progresses-appear {
  opacity: 1;
  transform: translateY(0px); }

.userreviews {
  background-color: var(--color-page-background);
  margin: 30px auto;
  display: block;
  width: 90%;
  height: 60%; }
  .userreviews h3 {
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--color-text); }
  .userreviews h4 {
    font-size: 0.9rem;
    color: var(--color-text); }

.review-list:before {
  content: " ";
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  width: 5px;
  height: 90%;
  background-color: #318fff;
  left: 50%;
  margin-left: -2.5px; }
.review-list > li {
  margin-bottom: 20px;
  position: relative; }
  .review-list > li:after {
    clear: both; }
  .review-list > li:before, .review-list > li:after {
    content: " ";
    display: table; }
  .review-list > li .review-badge {
    color: black;
    width: 50px;
    height: 50px;
    line-height: 53px;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -45px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 1px 6px var(--color-shadows); }

.review-small-container {
  width: 50%;
  float: left; }

.review-small-container-inverted {
  width: 50%;
  float: right; }
  .review-small-container-inverted .review-generale {
    float: left;
    margin-left: 23px; }
    .review-small-container-inverted .review-generale:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto; }

.review-generale {
  width: 93%;
  float: right;
  margin-right: 66px;
  border-radius: 1px solid black;
  border-radius: 7px;
  padding: 20px;
  position: relative;
  background: var(--color-page-background);
  box-shadow: 0 1px 6px var(--color-shadows); }
  .review-generale:after {
    content: " ";
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid var(--color-page-background);
    border-right: 0 solid var(--color-page-background);
    border-bottom: 14px solid transparent; }

/************************************************
10.	PAGE :	OPTIONS
************************************************/
#options {
  background-color: var(--color-page-background);
  color: #fff;
  min-height: 50vh;
  font-family: "Questrial", sans-serif; }
  #options .container {
    background: var(--color-page-background);
    margin: auto;
    border: 1px solid var(--color-page-background);
    margin-bottom: 100px; }
  #options .heading {
    margin: 0 auto;
    text-align: center; }
  #options h2 {
    color: var(--color-text);
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; }
  #options .line-separation {
    margin-bottom: 80px;
    width: 200px; }
  #options h5 {
    font-size: 30px;
    margin-bottom: 20px; }
  #options .line-separation-white {
    text-align: center;
    background-color: #fff;
    height: 1px;
    margin: 0 auto 20px auto; }
  #options p span {
    background-color: black; }

.option-block {
  cursor: pointer;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 1px 1px 6px var(--color-shadows);
  transition: 200ms; }
  .option-block ul li {
    font-size: 20px;
    text-align: left;
    list-style: circle; }
  .option-block:hover {
    opacity: 1;
    transform: scale(1.01);
    box-shadow: 1px 1px 8px var(--color-shadows); }

.blockA {
  background: url(../img/ram.jpg) round; }

.blockB {
  background: url(../img/laptopcolor.png) round; }

/************************************************
11.	PAGE :	RESUME
************************************************/
#resume {
  flex-direction: column;
  align-items: center;
  display: flex;
  font-family: "Questrial", sans-serif;
  min-height: 100vh; }
  #resume .container {
    background: var(--darkgrey);
    margin: auto; }
  #resume .heading {
    margin: 0 auto;
    text-align: center; }
  #resume .line-separation {
    margin-bottom: 80px;
    width: 200px; }
  #resume h2 {
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; }

.resume-images {
  box-shadow: 1px 1px 6px var(--color-shadows);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 100px;
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; }

.resume-image {
  position: relative;
  cursor: help;
  margin: auto;
  filter: saturate(0%);
  transition: 200ms; }
  .resume-image:hover {
    z-index: 2;
    filter: saturate(100%);
    transform: scale(1.05);
    box-shadow: 1px 1px 6px var(--color-shadows); }
  .resume-image .text-app {
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 100%; }
    .resume-image .text-app:hover > .para-text {
      opacity: 1; }
  .resume-image .para-text {
    opacity: 0;
    transition: 200ms;
    text-align: center;
    margin: auto;
    color: #fff;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 20px 0;
    max-width: 100%;
    font-size: 3vmin;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    transition: 350ms; }
    .resume-image .para-text span {
      font-weight: bold;
      color: white;
      font-size: 3.2vmin; }

/************************************************
12.	PAGE :	CONTACT
************************************************/
#contact {
  flex-direction: column;
  align-items: center;
  display: flex;
  font-family: "Questrial", sans-serif;
  min-height: 100vh; }
  #contact .container {
    margin: auto;
    margin-bottom: 100px; }
  #contact .heading {
    margin: 0 auto;
    text-align: center; }
  #contact .line-separation {
    margin-bottom: 80px;
    width: 200px; }
  #contact h2 {
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; }

.trois-contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0; }
  .trois-contacts .co {
    cursor: pointer;
    margin: 10px auto;
    margin-bottom: 150px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 1px 1px 6px #20618d;
    border-radius: 10px;
    width: 300px;
    transition: 200ms; }
    .trois-contacts .co:hover {
      transform: scale(0.99);
      box-shadow: 0px 0px 6px #20618d; }
  .trois-contacts h4 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px; }
  .trois-contacts i {
    font-size: 30px; }

/*# sourceMappingURL=style.css.map */
