/************************************************
12.	PAGE :	CONTACT
************************************************/
#contact {
    @include section(100vh);

    .container {
        margin: auto;
        margin-bottom: 100px;
    }
    .heading {
        margin: 0 auto;
        text-align: center;
    }
    .line-separation {
        margin-bottom: 80px;
        width: 200px;
    }
    h2 {
        @include titresh2();
    }
}
.trois-contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    .co {
        cursor: pointer;
        margin: 10px auto;
        margin-bottom: 150px;
        padding: 20px 10px;
        text-align: center;
        box-shadow: 1px 1px 6px $clr-primary;
        border-radius: 10px;
        width: 300px;
        transition: 200ms;
        &:hover {
            transform: scale(0.99);
            box-shadow: 0px 0px 6px $clr-primary;
        }
    }
    h4 {
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    i {
        font-size: 30px;
    }
    .question a {
        color: var(--color-text);
        text-decoration: none;
    }
}

/************************************************
13.	FORMULAIRE
************************************************/
#formulaire-contact {
    @include section(100vh);
    background: var(--darkgrey);
}
.container {
    margin: auto;
    margin-bottom: 100px;
}
.line-separation {
    margin-bottom: 80px;
    width: 200px;
}

.contact-heading {
    text-align: center;
    h2 {
        @include titresh2();
    }
}

#contact-form {
    color: var(--color-text);
    font-size: 20px;
    background-color: var(--color-page-background);
    padding: 40px;
    border-radius: 5px;
}

/************************************************
3.	ELEMENTS DU FORMULAIRE
************************************************/
.blue {
    color: $clr-primary;
}
.form-control {
    height: 50px;
    font-size: 18px;
}
.comments {
    color: #b91f1f;
    font-style: italic;
    font-size: 18px;
    height: 25px; /*permet de lui donner une place fixe, même si msg d'erreur non affiché*/
}
#contact-form {
    .button2 {
        margin-top : 40px;
        outline: none;
    }
}
.thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
